 

.bg-primary {
  background-color: #EEBA0B !important;
}

.text-success{
    color: #1B0D00 !important;
    font-size: 18px;
}

.navbar-brand {
    padding: 1em 2em 1em 1.5em;
    font-size: 23px;

} 

.nav-item {
    padding:1em 1.5em 1em;
}

.text-success:hover{
    color:#fff4ac !important;
}

.bg-dark{
  background-color: #1B0D00 !important;
}

.text-white{
  color: #EEBA0B !important;
}

.text-warning{
  color:#1B0D00 !important;
}

.btn{
  background-color: #1B0D00;
  border: 1px solid #EEBA0B;
}

.btn:hover{
  background-color: #EEBA0B;
  border: 1px solid #EEBA0B;
}

.btn-lg{
  color:#EEBA0B;
}



.fs-5{
  color:white;
}



@media (min-width: 0px) and (max-width: 991px) {

body{
  padding: 0px;
  margin: 0px;
}

#container2{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3.75% 14% 16% 1fr;
  grid-template-columns: 100%;
}

#navbarPlaceholder{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

#section{
  grid-row: 2 / span 1;
  background-color: rgb(229, 255, 196);
  background-image: url("../images/event.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

#filter{
  grid-row: 3 / span 1;
  
}

.container{
  grid-row: 4 / span 1;
  background-color: rgb(188, 188, 252);
  margin-left: 5%;
}

#fieldset{
  border-radius: .3em;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(247, 238, 168);
}

#category123{
  margin-left: 15%;
  padding-top: 1em;
  padding-bottom:.2em;
}

#eventCategory123{
  width: 70%;
  justify-items: center;
  margin-left: 15%;
}

#date123{
  margin-left: 15%;
  padding-top:.1em;
  padding-bottom:.2em;
}

#eventDate123{
  width: 70%;
  justify-items: center;
  margin-left: 15%;
}

#time123{
  margin-left: 15%;
  padding-top:.1em;
  padding-bottom:.2em;
}

#eventTime123{
  width: 70%;
  justify-items: center;
  margin-left: 15%;
  margin-bottom: 25px;
}

.btn-primary{
  background-color: rgb(251, 188, 99);
  border-color: rgb(251, 188, 99);
  margin-bottom: 5%;
  margin-right: 43%;
}

.btn-primary:hover{
  background-color: rgb(252, 167, 48);
  border-color: rgb(252, 167, 48);
}

#legend{
  justify-content: center;
  margin-left: 35%;
  margin-top: 5%;
}

}


  
  
