
.bg-primary {
  background-color: #EEBA0B !important;
}

.text-success{
    color: #1B0D00 !important;
    font-size: 18px;
}

.navbar-brand {
    padding: 1em 2em 1em 1.5em;
    font-size: 23px;
} 

.nav-item {
    padding:1em 1.5em 1em;
}

.text-success:hover{
    color:#fff4ac !important;
}

.text-warning{
  color:#1B0D00 !important;
}

@media (min-width: 0px) and (max-width: 991px) {

body{
  padding: 0px;
  margin: 0px;
}

 #container2{
  min-height: 100vh;
}

#navbarPlaceholder{
  margin-bottom: 20px;
}

#topPicture{
  height: 300px;
  width: 100%;
  margin-bottom:20px;
}

#filter{
  margin-bottom: 20px;
  
}

.container{
  margin-left: 5%;
}

#fieldset{
  border-radius: .3em;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(247, 238, 168); 
  background-color:#e7c04083;
}

#formCategoryBox{
  width:85%;
  margin-left: 7%;
  padding-top:.8rem;
  padding-bottom:.8rem;
}

#eventCategory123{
  width: 70%;
  justify-items: center;
  margin-left: 9%;
}

#formDateBox{
  width:85%;
  margin-left: 7%;
  padding-top:.8rem;
  padding-bottom:.8rem;
}

#eventDate123{
  width: 70%;
  justify-items: center;
  margin-left: 9%;
}

#formTimeBox{
  width:85%;
  margin-left: 7%;
  padding-top:.8rem;
  padding-bottom:.8rem;
}

#eventTime123{
  width: 70%;
  justify-items: center;
  margin-left: 9%;
}

.btn-primary{
  background-color: #391101;
  border-color: #391101;
  margin-top:20px;
  margin-bottom: 5%;
  margin-right: 43%;
}

.btn-primary:hover{
  background-color: #573f36;
  border-color:#573f36;
}

#legend{
  justify-content: center;
  margin-left: 35%;
  margin-top: 5%;
  color: #1B0D00;
}

#firebaseui-auth-container{
  margin-top:50px;
}

.card{
  padding:1rem;
  margin:1rem;
}

}

  

