/* ul {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

ul li {
    font-size: 100%;
    background-color: gray;
    margin-bottom: 2%;
    display: inline;
    float: center;
    clear: center;
    align-items: center;
    align-content: center;
    padding-left: 40%;
  }  */

.navbar-brand {
    padding: 1em 2em 1em 1.5em;
} 

.nav-item {
    padding:1em 2em 1em;
}

.nav-item:hover{
    background-color:rgba(216, 216, 216, 0.77);
}

